<h1>Shopping Cart</h1>

<%= render :partial => 'shopping_cart_item', :collection => @shopping_cart.shopping_cart_items %>

<div><strong>Total:</strong><%= number_to_currency (@shopping_cart.total) %></div>
